#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#cards{
  display: flex;
  gap: 1rem
}

#cards .card-footer{
  background-color: white;
  border-top: 0px;
}

#cards span{
  width: 100%;
}

Footer{
  margin-top: 3rem;
  font-weight: 500;
}